<h1>Contact me. Please!</h1>
<p>Address: 1, Quiet Street, Lonelytown, New York</p>
<p>Phone: (516)223 454 367 </p>

Call me. Write to me. Come by anytime. Seriously. You want to come by now?! I just made bread! And cookies. And whatever you want. Just tell me what you like! I have all the box-sets of Frasier! Oh, man, this is gonna be great! *squeal!* Ummm... so you're coming, right?</p>
